
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #4f4ae4 0%, rgba(218, 232, 110, 0.8)100%);
}